In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\python312\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\python312\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rilco\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\rilco\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:

# Procedimento 2

conteudo = """ID;Duration;Date;Pulse;Maxpulse;Calories

0;60;'2020/12/01';110;130;4091

1;60;'2020/12/02';117;145;4790

2;60;'2020/12/03';103;135;3400

3;45;'2020/12/04';109;175;2824

4;45;'2020/12/05';117;148;4060

5;60;'2020/12/06';102;127;3000

6;60;'2020/12/07';110;136;3740

7;450;'2020/12/08';104;134;2533

8;30;'2020/12/09';109;133;1951

9;60;'2020/12/10';98;124;2690

10;60;'2020/12/11';103;147;3293

11;60;'2020/12/12';100;120;2507

12;60;'2020/12/12';100;120;2507

13;60;'2020/12/13';106;128;3453

14;60;'2020/12/14';104;132;3793

15;60;'2020/12/15';98;123;2750

16;60;'2020/12/16';98;120;2152

17;60;'2020/12/17';100;120;3000

18;45;'2020/12/18';90;112;NaN

19;60;'2020/12/19';103;123;3230

20;45;'2020/12/20';97;125;2430 2

1;60;'2020/12/21';108;131;3642

22;45;NaN;100;119;2820

23;60;'2020/12/23';130;101;3000

24;45;'2020/12/24';105;132;2460

25;60;'2020/12/25';102;126;3345

26;60;20201226;100;120;2500

27;60;'2020/12/27';92;118;2410

28;60;'2020/12/28';103;132;NaN

29;60;'2020/12/29';100;132;2800

30;60;'2020/12/30';102;129;3803

31;60;'2020/12/31';92;115;2430
"""

with open("dados.csv", "w", encoding="utf-8") as f:
    f.write(conteudo)

In [3]:
# Procedimento 3-4

# Importando a biblioteca pandas
import pandas as pd

# Lendo o arquivo CSV com separador ';' e mantendo os dados como texto
df = pd.read_csv("dados.csv", sep=";", dtype=str, keep_default_na=False)

# Procedimento 5a
# Visualizando as primeiras linhas
df.head(6)

  ID Duration          Date Pulse Maxpulse Calories
0  0       60  '2020/12/01'   110      130     4091
1  1       60  '2020/12/02'   117      145     4790
2  2       60  '2020/12/03'   103      135     3400
3  3       45  '2020/12/04'   109      175     2824
4  4       45  '2020/12/05'   117      148     4060
5  5       60  '2020/12/06'   102      127     3000

In [4]:
# Procedimento 5b
# Visualizando as ultimas linhas
df.tail(6)

    ID Duration          Date Pulse Maxpulse Calories
26  26       60      20201226   100      120     2500
27  27       60  '2020/12/27'    92      118     2410
28  28       60  '2020/12/28'   103      132      NaN
29  29       60  '2020/12/29'   100      132     2800
30  30       60  '2020/12/30'   102      129     3803
31  31       60  '2020/12/31'    92      115     2430

In [5]:
# Procedimento 6
# # Criando uma nova variavel com cópia do conjunto de dados original
df_nova = df.copy()

In [6]:
df_nova

    ID Duration          Date Pulse Maxpulse Calories
0    0       60  '2020/12/01'   110      130     4091
1    1       60  '2020/12/02'   117      145     4790
2    2       60  '2020/12/03'   103      135     3400
3    3       45  '2020/12/04'   109      175     2824
4    4       45  '2020/12/05'   117      148     4060
5    5       60  '2020/12/06'   102      127     3000
6    6       60  '2020/12/07'   110      136     3740
7    7      450  '2020/12/08'   104      134     2533
8    8       30  '2020/12/09'   109      133     1951
9    9       60  '2020/12/10'    98      124     2690
10  10       60  '2020/12/11'   103      147     3293
11  11       60  '2020/12/12'   100      120     2507
12  12       60  '2020/12/12'   100      120     2507
13  13       60  '2020/12/13'   106      128     3453
14  14       60  '2020/12/14'   104      132     3793
15  15       60  '2020/12/15'    98      123     2750
16  16       60  '2020/12/16'    98      120     2152
17  17       60  '2020/12/17'   100      120     3000
18  18       45  '2020/12/18'    90      112      NaN
19  19       60  '2020/12/19'   103      123     3230
20  20       45  '2020/12/20'    97      125   2430 2
21   1       60  '2020/12/21'   108      131     3642
22  22       45           NaN   100      119     2820
23  23       60  '2020/12/23'   130      101     3000
24  24       45  '2020/12/24'   105      132     2460
25  25       60  '2020/12/25'   102      126     3345
26  26       60      20201226   100      120     2500
27  27       60  '2020/12/27'    92      118     2410
28  28       60  '2020/12/28'   103      132      NaN
29  29       60  '2020/12/29'   100      132     2800
30  30       60  '2020/12/30'   102      129     3803
31  31       60  '2020/12/31'    92      115     2430

In [7]:
# Procedimento 7a
# Substitua todos os valores nulos da coluna ‘Calories’ por 0;

df_nova['Calories'] = df_nova['Calories'].replace("NaN", "0")

# Procedimento 7b
# Imprima o conjunto de dados para verificar se a mudança acima foi aplicada com sucesso;
# Obs: Preferi visualizar do que utilizar o print(df_copia), pois a visualização é mais limpa
df_nova

    ID Duration          Date Pulse Maxpulse Calories
0    0       60  '2020/12/01'   110      130     4091
1    1       60  '2020/12/02'   117      145     4790
2    2       60  '2020/12/03'   103      135     3400
3    3       45  '2020/12/04'   109      175     2824
4    4       45  '2020/12/05'   117      148     4060
5    5       60  '2020/12/06'   102      127     3000
6    6       60  '2020/12/07'   110      136     3740
7    7      450  '2020/12/08'   104      134     2533
8    8       30  '2020/12/09'   109      133     1951
9    9       60  '2020/12/10'    98      124     2690
10  10       60  '2020/12/11'   103      147     3293
11  11       60  '2020/12/12'   100      120     2507
12  12       60  '2020/12/12'   100      120     2507
13  13       60  '2020/12/13'   106      128     3453
14  14       60  '2020/12/14'   104      132     3793
15  15       60  '2020/12/15'    98      123     2750
16  16       60  '2020/12/16'    98      120     2152
17  17       60  '2020/12/17'   100      120     3000
18  18       45  '2020/12/18'    90      112        0
19  19       60  '2020/12/19'   103      123     3230
20  20       45  '2020/12/20'    97      125   2430 2
21   1       60  '2020/12/21'   108      131     3642
22  22       45           NaN   100      119     2820
23  23       60  '2020/12/23'   130      101     3000
24  24       45  '2020/12/24'   105      132     2460
25  25       60  '2020/12/25'   102      126     3345
26  26       60      20201226   100      120     2500
27  27       60  '2020/12/27'    92      118     2410
28  28       60  '2020/12/28'   103      132        0
29  29       60  '2020/12/29'   100      132     2800
30  30       60  '2020/12/30'   102      129     3803
31  31       60  '2020/12/31'    92      115     2430

In [8]:
# Procedimento 8a
# Substitua os valores nulos da coluna ‘Date’ por ‘1900/01/01’;

df_nova['Date'] = df_nova['Date'].replace("NaN", "1900/01/01")


# Procedimento 8b
# Imprima o conjunto de dados para verificar se a mudança acima foi aplicada com sucesso;
# Obs: Preferi visualizar do que utilizar o print(df_copia), pois a visualização é mais limpa
df_nova

    ID Duration          Date Pulse Maxpulse Calories
0    0       60  '2020/12/01'   110      130     4091
1    1       60  '2020/12/02'   117      145     4790
2    2       60  '2020/12/03'   103      135     3400
3    3       45  '2020/12/04'   109      175     2824
4    4       45  '2020/12/05'   117      148     4060
5    5       60  '2020/12/06'   102      127     3000
6    6       60  '2020/12/07'   110      136     3740
7    7      450  '2020/12/08'   104      134     2533
8    8       30  '2020/12/09'   109      133     1951
9    9       60  '2020/12/10'    98      124     2690
10  10       60  '2020/12/11'   103      147     3293
11  11       60  '2020/12/12'   100      120     2507
12  12       60  '2020/12/12'   100      120     2507
13  13       60  '2020/12/13'   106      128     3453
14  14       60  '2020/12/14'   104      132     3793
15  15       60  '2020/12/15'    98      123     2750
16  16       60  '2020/12/16'    98      120     2152
17  17       60  '2020/12/17'   100      120     3000
18  18       45  '2020/12/18'    90      112        0
19  19       60  '2020/12/19'   103      123     3230
20  20       45  '2020/12/20'    97      125   2430 2
21   1       60  '2020/12/21'   108      131     3642
22  22       45    1900/01/01   100      119     2820
23  23       60  '2020/12/23'   130      101     3000
24  24       45  '2020/12/24'   105      132     2460
25  25       60  '2020/12/25'   102      126     3345
26  26       60      20201226   100      120     2500
27  27       60  '2020/12/27'    92      118     2410
28  28       60  '2020/12/28'   103      132        0
29  29       60  '2020/12/29'   100      132     2800
30  30       60  '2020/12/30'   102      129     3803
31  31       60  '2020/12/31'    92      115     2430

In [ ]:
# Procedimento 8c
# Transforme os dados da coluna ‘Date’ em datetime usando o método ‘to_datetime’;

df_nova['Date'] = pd.to_datetime(df_nova['Date'], format="%Y/%m/%d")

# Imprima o conjunto de dados para verificar se a mudança acima foi aplicada com sucesso;
# Obs: Preferi visualizar do que utilizar o print(df_copia), pois a visualização é mais limpa
df_nova

In [9]:
# Procedimento 9a
df_nova['Date'] = df_nova['Date'].replace("1900/01/01", "NaN")

# Procedimento 9b
df_nova

    ID Duration          Date Pulse Maxpulse Calories
0    0       60  '2020/12/01'   110      130     4091
1    1       60  '2020/12/02'   117      145     4790
2    2       60  '2020/12/03'   103      135     3400
3    3       45  '2020/12/04'   109      175     2824
4    4       45  '2020/12/05'   117      148     4060
5    5       60  '2020/12/06'   102      127     3000
6    6       60  '2020/12/07'   110      136     3740
7    7      450  '2020/12/08'   104      134     2533
8    8       30  '2020/12/09'   109      133     1951
9    9       60  '2020/12/10'    98      124     2690
10  10       60  '2020/12/11'   103      147     3293
11  11       60  '2020/12/12'   100      120     2507
12  12       60  '2020/12/12'   100      120     2507
13  13       60  '2020/12/13'   106      128     3453
14  14       60  '2020/12/14'   104      132     3793
15  15       60  '2020/12/15'    98      123     2750
16  16       60  '2020/12/16'    98      120     2152
17  17       60  '2020/12/17'   100      120     3000
18  18       45  '2020/12/18'    90      112        0
19  19       60  '2020/12/19'   103      123     3230
20  20       45  '2020/12/20'    97      125   2430 2
21   1       60  '2020/12/21'   108      131     3642
22  22       45           NaN   100      119     2820
23  23       60  '2020/12/23'   130      101     3000
24  24       45  '2020/12/24'   105      132     2460
25  25       60  '2020/12/25'   102      126     3345
26  26       60      20201226   100      120     2500
27  27       60  '2020/12/27'    92      118     2410
28  28       60  '2020/12/28'   103      132        0
29  29       60  '2020/12/29'   100      132     2800
30  30       60  '2020/12/30'   102      129     3803
31  31       60  '2020/12/31'    92      115     2430

In [18]:
# Procedimento 10
df_nova['Date'] = df_nova['Date'].replace("20201226", pd.to_datetime("20201226", format="%Y%m%d").strftime("%Y/%m/%d"))

In [19]:
# Transforme os dados da coluna ‘Date’ em datetime usando o método ‘to_datetime’;

df_nova['Date'] = pd.to_datetime(df_nova['Date'], errors="coerce")

# Imprima o conjunto de dados para verificar se a mudança acima foi aplicada com sucesso;
# Obs: Preferi visualizar do que utilizar o print(df_copia), pois a visualização é mais limpa
df_nova

    ID Duration       Date Pulse Maxpulse Calories
0    0       60 2020-12-01   110      130     4091
1    1       60 2020-12-02   117      145     4790
2    2       60 2020-12-03   103      135     3400
3    3       45 2020-12-04   109      175     2824
4    4       45 2020-12-05   117      148     4060
5    5       60 2020-12-06   102      127     3000
6    6       60 2020-12-07   110      136     3740
7    7      450 2020-12-08   104      134     2533
8    8       30 2020-12-09   109      133     1951
9    9       60 2020-12-10    98      124     2690
10  10       60 2020-12-11   103      147     3293
11  11       60 2020-12-12   100      120     2507
12  12       60 2020-12-12   100      120     2507
13  13       60 2020-12-13   106      128     3453
14  14       60 2020-12-14   104      132     3793
15  15       60 2020-12-15    98      123     2750
16  16       60 2020-12-16    98      120     2152
17  17       60 2020-12-17   100      120     3000
18  18       45 2020-12-18    90      112        0
19  19       60 2020-12-19   103      123     3230
20  20       45 2020-12-20    97      125   2430 2
21   1       60 2020-12-21   108      131     3642
23  23       60 2020-12-23   130      101     3000
24  24       45 2020-12-24   105      132     2460
25  25       60 2020-12-25   102      126     3345
27  27       60 2020-12-27    92      118     2410
28  28       60 2020-12-28   103      132        0
29  29       60 2020-12-29   100      132     2800
30  30       60 2020-12-30   102      129     3803
31  31       60 2020-12-31    92      115     2430

In [20]:
# Remover registros onde a coluna 'Date' está nula (NaN)
df_nova = df_nova.dropna(subset=['Date'])

df_nova

    ID Duration       Date Pulse Maxpulse Calories
0    0       60 2020-12-01   110      130     4091
1    1       60 2020-12-02   117      145     4790
2    2       60 2020-12-03   103      135     3400
3    3       45 2020-12-04   109      175     2824
4    4       45 2020-12-05   117      148     4060
5    5       60 2020-12-06   102      127     3000
6    6       60 2020-12-07   110      136     3740
7    7      450 2020-12-08   104      134     2533
8    8       30 2020-12-09   109      133     1951
9    9       60 2020-12-10    98      124     2690
10  10       60 2020-12-11   103      147     3293
11  11       60 2020-12-12   100      120     2507
12  12       60 2020-12-12   100      120     2507
13  13       60 2020-12-13   106      128     3453
14  14       60 2020-12-14   104      132     3793
15  15       60 2020-12-15    98      123     2750
16  16       60 2020-12-16    98      120     2152
17  17       60 2020-12-17   100      120     3000
18  18       45 2020-12-18    90      112        0
19  19       60 2020-12-19   103      123     3230
20  20       45 2020-12-20    97      125   2430 2
21   1       60 2020-12-21   108      131     3642
23  23       60 2020-12-23   130      101     3000
24  24       45 2020-12-24   105      132     2460
25  25       60 2020-12-25   102      126     3345
27  27       60 2020-12-27    92      118     2410
28  28       60 2020-12-28   103      132        0
29  29       60 2020-12-29   100      132     2800
30  30       60 2020-12-30   102      129     3803
31  31       60 2020-12-31    92      115     2430